In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests
# Import API key
from config import g_key

In [2]:
# Store city data into a dataframe from a csv file
city_data_df = pd.read_csv("weather_data\cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Te Anau,NZ,2020-06-20 18:44:58,-45.42,167.72,33.21,93,39,1.50
1,1,Sambava,MG,2020-06-20 18:47:11,-14.27,50.17,74.71,90,96,13.44
2,2,Ushuaia,AR,2020-06-20 18:47:12,-54.80,-68.30,33.80,86,40,4.70
3,3,Sassandra,CI,2020-06-20 18:47:12,4.95,-6.08,77.58,82,95,6.04
4,4,Acapulco,MX,2020-06-20 18:47:12,16.86,-99.89,87.80,70,90,2.24

In [3]:
#Get the column data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use g_key for the api key
gmaps.configure(api_key = g_key)

In [5]:
# Create heat map using google maps
# Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat', 'Lng']]

# Assign the weights variable using max temp.
max_temps = city_data_df['Max Temp']

# Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

# Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temps], 
                                    dissipating = False, max_intensity=300, point_radius=4)

# Add the heatmap layer to figure.
fig.add_layer(heatmap_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Create % Humidity Map
# Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat', 'Lng']]

# Assign the weights variable using max temp.
humidity = city_data_df['Humidity']

# Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

# Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                    dissipating = False, max_intensity=300, point_radius=4)

# Add the heatmap layer to figure.
fig.add_layer(heatmap_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat', 'Lng']]

# Assign the weights variable using max temp.
clouds = city_data_df['Cloudiness']

# Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

# Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                    dissipating = False, max_intensity=300, point_radius=4)

# Add the heatmap layer to figure.
fig.add_layer(heatmap_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat', 'Lng']]

# Assign the weights variable using max temp.
winds = city_data_df['Wind Speed']

# Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

# Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=winds, 
                                    dissipating = False, max_intensity=300, point_radius=4)

# Add the heatmap layer to figure.
fig.add_layer(heatmap_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer for the max and min temp desired
min_temp = float(input('What is the minimum temperature that you would like on your trip? '))
max_temp = float(input('What is the maximum temperature that you would like on your trip? '))

# Filter by cities within the desired temperature range
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp)&(city_data_df['Max Temp'] <= max_temp)]
preferred_cities_df.head()

What is the minimum temperature that you would like on your trip? 75
What is the maximum temperature that you would like on your trip? 90

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Sassandra,CI,2020-06-20 18:47:12,4.95,-6.08,77.58,82,95,6.04
4,4,Acapulco,MX,2020-06-20 18:47:12,16.86,-99.89,87.80,70,90,2.24
6,6,Arraial Do Cabo,BR,2020-06-20 18:47:12,-22.97,-42.03,80.60,69,0,10.29
7,7,Ignacio Zaragoza,MX,2020-06-20 18:47:13,28.38,-107.22,82.00,30,86,5.99
11,11,Atuona,PF,2020-06-20 18:47:14,-9.80,-139.03,79.66,78,8,16.44

In [10]:
preferred_cities_df.count()

City_ID       223
City          223
Country       223
Date          223
Lat           223
Lng           223
Max Temp      223
Humidity      223
Cloudiness    223
Wind Speed    223
dtype: int64

In [11]:
# Create a dataframe to store hotel names, city, country, max temp, and coordinates
hotel_data_df = preferred_cities_df[['City','Country','Max Temp','Lat','Lng']].copy()
hotel_data_df['Hotel Name'] = ''
hotel_data_df.head()

                City Country  Max Temp    Lat     Lng Hotel Name
3          Sassandra      CI     77.58   4.95   -6.08
4           Acapulco      MX     87.80  16.86  -99.89
6    Arraial Do Cabo      BR     80.60 -22.97  -42.03
7   Ignacio Zaragoza      MX     82.00  28.38 -107.22
11            Atuona      PF     79.66  -9.80 -139.03

In [12]:
# Set parameters to search for hotels
param = {
    'radius':5000,
    'type':'lodging',
    'key':g_key,
    'location':'48.8566, 2.3522'}
# Use base url to search hotels in Paris
base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
# Make request and get JSON data
hotels = requests.get(base_url, params = param).json()

In [13]:
# Iterate through the DataFrame.
for index, row in hotel_data_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    param["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=param).json()
   
    # Grab the first hotel from the results and store the name.
    try:
        hotel_data_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# Create infobox template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_data_df.iterrows()]

In [15]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_data_df[["Lat", "Lng"]]
max_temp = hotel_data_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)

# Create a marker for each city with a hotel
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add layers to map
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure
fig

Figure(layout=FigureLayout(height='420px'))